################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Traffic-Cameras/FileContentIndex/eae6d4cd-b871-40b8-8c4f-d652b991218f.vsidx
